const path = require('path');
const HtmlWebpackPlugin = require('html-webpack-plugin');

module.exports = {
  entry: './src/index.js', // Твій вхідний файл
  output: {
    path: path.resolve(__dirname, 'dist'), // Куди буде зберігатися зібраний код
    filename: 'bundle.js', // Назва зібраного файлу
  },
  module: {
    rules: [
      {
        test: /\.jsx?$/, // Підтримка .js та .jsx файлів
        exclude: /node_modules/,
        use: {
          loader: 'babel-loader', // Лоадер для транспіляції JS та JSX
          options: {
            presets: ['@babel/preset-env', '@babel/preset-react'], // Налаштування для ES6+ та React
          },
        },
      },
      {
        test: /\.css$/, // Підтримка CSS файлів
        use: ['style-loader', 'css-loader'],
      },
    ],
  },
  plugins: [
    new HtmlWebpackPlugin({
      template: './public/index.html', // Шаблон для створення HTML
    }),
  ],
  devServer: {
    contentBase: path.join(__dirname, 'dist'), // Де будуть зберігатись файли
    port: 3000, // Порт для сервера
    hot: true, // Підтримка гарячої заміни
  },
  resolve: {
    extensions: ['.js', '.jsx'], // Підтримка розширень .js та .jsx
  },
};
